<h1>Management<small></small></h1>
<section class="page">
  <div id="wrapper">
    <div class="content-wrapper container">
      <table>
        <tr>
          <td class="position">
            <a href="/order"><img src="../../assets/img/forms.png" alt=""  />
              <p>Add Haircut</p>
            </a>
          </td>
          <td class="position">
            <a href="/report"><img src="../../assets/img/financial.png" alt="" />
              <p>Reporting</p>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>