<div class="page">
  <h1>Haircut Details</h1>
  <form class="m-t" role="form" action="POST">
  <div class="page__demo">
    <div class="row">
      <div class="col-sm-6">
        <label class="field a-field a-field_a2 page__field">
          <input type="text" class="field__input a-field__input" placeholder="e.g. John" required>
          <span class="a-field__label-wrap">
            <span class="a-field__label">First name</span>
          </span>
        </label>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-6">
        <label class="field a-field a-field_a2 page__field">
          <input type="text" class="field__input a-field__input" placeholder="e.g. Wick" required>
          <span class="a-field__label-wrap">
            <span class="a-field__label">Last name</span>
          </span>
        </label>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-6">
        <label class="field a-field a-field_a2 page__field">
          <input type="text" class="field__input a-field__input" placeholder="e.g. johnwick@gmail.com" required>
          <span class="a-field__label-wrap">
            <span class="a-field__label">E-mail</span>
          </span>
        </label>
      </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-6">
          <label class="field a-field a-field_a2 page__field">
            <input type="Text" class="field__input a-field__input" placeholder="e.g. Haircut and shave" required>
            <span class="a-field__label-wrap">
              <span class="a-field__label">Type</span>
            </span>
          </label>
        </div>
      </div>
      <br/>
      <div class="row">
          <div class="col-sm-6">
            <label class="field a-field a-field_a2 page__field">
              <input type="text" class="field__input a-field__input" placeholder="e.g. R150.00" required>
              <span class="a-field__label-wrap">
                <span class="a-field__label">Amount</span>
              </span>
            </label>
          </div>
        </div>
        <br/>
        <button class="btn btn-default btn-block" >Submit</button>
         </div>
         </form>
</div>